@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
   margin:0;
   padding: 0;
   border: 0;
}
  body{
   background-color: #252525;
  }
  header{
      padding: 16px;
      border-bottom: 3px solid #cd0000;
      background-color: rgba(0, 0,0,0.1);
  }
  hearder div {
       text-align: center; /* Alinhamento no meio do header */
  }
  header div a {
        color: rgb(255, 255, 255); /* a cor do texto */
        font-size: 40px; /*tamanho da fonte */
        line-height: 30px; /* espaçamento da linha do texto */
        margin: 0 32px; /* espaçamento entre os textos */
        text-decoration: none; /* retirar decoração do texto */
        font-family: 'Roboto', sans-serif;/* a fonte escolhida pro menu*/ 
  }
header div a:hover { /* Quando o mouse passa por cima do link dentro de uma div no header */
  color: green; /* A cor do texto muda para verde */
  transition: color 700ms; /* A transição da cor acontece em 700 milissegundos */
}